/* GLOBAL CONFIG */ 
*{
    padding: 0;
    margin: 0;

    box-sizing: border-box;
    
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}


body{
    background-color: #F5F5F5;
    width: 100%;
    height: 100%;
}

/* HEADER */

.header{
    width: 100%;
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    position: fixed;
    z-index: 5;
    border-bottom: 1px solid #131416;
}

header > .mainAncor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

header > .mainAncor > ol{
    display: flex;
    gap: 15px;
}

header > .mainAncor > ol > li{
    list-style: none;
    display: flex;
    color: #F5F5F5;
    font-size: 16px;
    font-weight: bold;
    transition: .1s;
}

.mainAncor > ol > li > .nav_ancor{
    text-decoration: none;
    color: #F5F5F5;
    transition: .8s;
}

.mainAncor > ol > li > .nav_ancor:hover{
    color: #28587B;
    font-weight: bold;
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

.mainAncor > a {
    text-decoration: none;
    border: 2px solid #28587B;
    border-radius: 6px;
    padding: 5px;
    font-weight: bold;
    transition: .8s;
    color: #28587B;
}

.mainAncor > a:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
    border-color: #0E0E58;
    color: #0E0E58;
}


/* HOME */

.main_home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;  
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/home-image.jpg);
    background-size: cover;
    background-position: center center;
    zoom: 1;
 }
 
.text_animation{
    color: white;
    font-family: monospace;
    border-right: 4px solid;
    width: 61ch;
    font-size: 34px;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 9s steps(77) infinite, 
    blinking 0.9s infinite step-end alternate;
}

.main_home > a{
    position: absolute;
    background-color: #1B9D4D;
    border: 3px solid;
    /* animation: changeBorderColor 3s infinite; */
    border-color: #0F572B;
    color: #F4F6F5;
    border-radius: 20px;
    padding: 15px;
    bottom: 115px;
    text-decoration: none;
    transition: .6s;
    font-size: 16px;
}

.main_home > a:hover{ 
    transform: scale(1.1);
}

.ancor_btn_home{
    font-weight: bold;
    display: flex;
    gap: 12px;
}

.icon_wpp{
    font-weight: bold;
    font-size: 22px;
}

/* TEXT HOME */ 

.objetivos{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    gap: 20px;
    position: relative; 
    background-color: #F4F6F5;
}

.text_empresa{
    position: absolute;
    top: 160px;
    left: 450px;
    width: 100%;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.12);
    padding: 30px;
    width: 800px;
    z-index: 3;
    background-color:#F5F5F5;
}

.icons{
    display: flex;
    position: absolute;
    width: auto;
    align-items: center;
    justify-content: space-between;
    gap: 65px;
    bottom: 280px;
    left: 590px;
    z-index: 2;
}

#doc_calc{
    cursor: pointer;
    transition: transform 0.6s;
}

#doc_calc:hover{
    transform: scale(1.1);
}

#doc_icon{
    width: 85px;
    height: 85px;
    cursor: pointer;
    transition: transform 0.6s;
}

#doc_icon:hover{
    transform: scale(1.1);
}

#doc_martelo{
    width: 86px;
    height: 86px;
    cursor: pointer;
    transition: transform 0.6s;
}

#doc_martelo:hover{
    transform: scale(1.1);
}

#doc_idea{
    width: 86px;
    height: 86px;
    transition: transform 0.6s;
    cursor: pointer;
}

#doc_idea:hover{
    transform: scale(1.1);
}

.icons > img{
   width: 80px;
   height: 80px;
}

.objetivos > img{
    position: absolute;
    width: 1100px;
    height: 700px;
    bottom: 0px;
    right: 115px;
    z-index: 1;
}

/* CARD SERVICOS */

.cards{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; 
    gap: 100px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/negocio_bg.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    zoom: 1;
}

.card_servicos{
    padding: 25px;
    width: 300px;
    height: 400px;
    border-radius: 30px;
    border: 2px solid #28587B;
    box-shadow: 0 1px 3px rgba(255, 255, 255, 0.2), 0 0 1px rgba(255, 255, 255, 0.12);
    background-color: transparent;
    backdrop-filter: blur(20px);
    color: white;
    font-size: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: .5s;
    cursor: pointer;
}

.card_servicos:hover{
    transform: scale(1.1);
}

.card_servicos > img {
    position: relative;
    bottom: 0px;
    width: 150px;
    height: 150px;
}

.icons_service{
    color: #28587B;
    position: absolute;
    font-size: 36px;
    bottom: 60px;
}

/* CONTATO */

.contato{
    width: 100%;
    height: 820px;
    position: relative;
}

.google_maps{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 250px;
}

#map{
    width: 100%;
    height: 100%;
}

.text_contact{
    font-size: 24px;
    padding-top: 45px;
    display: flex;
    justify-content: center;
}

.img_contact{
    position: absolute;
    display: block;
    width: 400px;
    height: 250px;
    bottom: 410px;
    left: 580px;
    z-index: 1;
    border: 2px solid #28587B;
    border-radius: 4px;
    cursor: pointer;
    transition: all  0.5s linear;
    overflow: hidden;
}

.img_contact > #img_contato{
    width: 400px;
    height: 250px;
    z-index: 1;
    transition: all  0.3s;
    overflow: hidden;
} 

#img_contato:hover{
     transform: scale(1.3);
    transform-origin: center center;
}

.meios_para_contato{
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    right: 330px;
    bottom: 475px;
    width:  550px;

}

.redes_sociais{
    display: flex;
    gap: 15px;
    align-items: center;
}

.email{
    font-size: 30px;
}

.ancor_redes{
    text-decoration: none;
    color: #131416;
    font-size: 30px;
}

.icon_meios{
    font-weight: bold;
    font-size: 22px;
}

.meio{
    display: flex;
    align-items: center;
}

.meio > span{
    display: flex;
    gap: 10px;
    justify-content: center;
}

/* ANIMATIONS */

@keyframes typing {
    0%{
         width: 0ch;
    }

    50%{
        width: 63.6ch;
    }

    75%{
        width: 63.6ch;
    }

    100%{
        width: 0;
    }
}

@keyframes blinking{
    50%{
        border-color: transparent;
    }
}

@keyframes changeBorderColor {
    0% {
      border-color: #62E494; 
    }
    50% {
      border-color: #107E3B; 
    }
    100% {
      border-color: #0F572B; 
    }
  }

html {
    scroll-behavior: smooth;
}

.linhas {
    border: 1px solid green;
    width: 100%;
    height: 800px;
    position: absolute;
    overflow: hidden;
    z-index: 2;
    top: 0; 
  }
  



/*  CLASS JS */

.transparent_header{
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    position: fixed;
    z-index: 5;
}

.nav_ancor_white{
    text-decoration: none;
    color: #131416;
    transition: .8s;
}

.nav_ancor_white:hover{
    color: #0E0E58;
    font-weight: bold;
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}